@font-face
  // primary: Nunito, secondary: Open Sans
  font-family: OpenSans
  src: url('Open_Sans/OpenSans-Regular.ttf') format('truetype')

@font-face
  font-family: OpenSansBold
  src: url('Open_Sans/OpenSans-ExtraBold.ttf') format('truetype')

@font-face
  font-family: RobotoSlab
  src: url('Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype')

$primary: rgb(255, 98, 0)
$super-light: #f5f7f8
$light: #e1e1e1
$medium: #acacac
$dark: #707070
$super-dark: #363636

*
  z-index: 1

html, body
  font-family: OpenSans
  margin: 0
  padding: 0
  width: 100vw
  overflow-x: hidden

h1
  font-family: RobotoSlab
  font-weight: 700

h2


h3
  font-weight: 400
  font-size: 2em

  bold
    font-weight: 700

h4
  margin: 0
  font-size: 1.5em
  letter-spacing: .3px
  font-weight: 800

a
  text-decoration: none
  color: black

.wrapper
  max-width: 1060px
  padding: 0 40px
  margin: 0 auto

  &.small
    max-width: 860px

.more
  padding-bottom: 1px

  text-transform: uppercase
  font-size: .8em
  font-weight: 700
  letter-spacing: 1.2px

  border-bottom: 1.5px solid black

  transition: all .3s cubic-bezier(0.22,-0.12, 0.63, 1.41)

  &:hover
    padding-bottom: 5px

.more-big
  padding: 15px 30px
  background: $primary
  color: white

  font-size: 1.1em

  transition: all .3s ease-in-out

  &:hover
    background: black

.headline-row-text-cta
  display: flex
  align-items: baseline
  justify-content: center

  text-align: left

  margin: 100px auto

  z-index: 100

  &.contact
    align-items: flex-start

    >.block
      display: block

  &.school-buttons
    padding-top: 50px
    margin: 50px auto
    border-top: 1px solid $light

    &.no-border
      border: none
      padding: 50px 0

    &.information
      margin-top: 50px
      color: $dark

  .section-title
    width: 30%

    > h4
      color: $primary

      &.contact
        color: $dark

  .section-content
    width: 70%
    color: $super-dark

    &.contact
      display: flex
      align-items: center
      justify-content: space-between

      &.school-cta
        justify-content: flex-start

        > a
          margin-right: 175px

    > h3
      margin: 0

      &.mission-text
        color: $dark

        margin-bottom: 70px

    .author
      display: flex
      align-items: center

      margin-top: -12px

      > h5
        color: $dark
        text-transform: uppercase

      .horizontal
        display: table

        width: 90px
        height: 1.2px

        background: $light

        margin-right: 20px

    .academics-list
      margin: 40px 0 35px
      padding: 0

      list-style: none

      > li
        margin: 0
        padding: 0

        font-size: 1.2em
        color: lighten(black, 20%)
        line-height: 1.6em

        .chevron-right
          transform: rotateZ(-90deg)
          width: 10px
          height: 10px

.header-title
  margin-top: 131px
  border-right: 25px solid $primary

  &.wrapper
    width: 1020px

  >h2
    font-size: 3.6em
    margin: 0
    margin-bottom: 10px
    margin-left: -10px

  >h5
    margin: .1em
    padding-left: 1.2em
    margin-left: -10px
    font-size: 1.1em

    color: $dark

  >.pop-up-wrapper
    display: flex
    align-items: flex-start
    justify-content: flex-start
    margin-top: 1.2em

    margin-left: 10px

    >.pop-up
      margin-right: .6em

      &.head
        display: block

.motto
  margin: 120px auto

  text-align: center

  >h2
    color: $dark

  >h3
    margin-top: 15px
    font-size: 3.2em
    margin-bottom: 50px

    &.school-life-headline
      margin-top: 160px !important

  >h4
    font-size: 1.3em
    text-align: justify
    font-weight: 400

    margin-bottom: 40px

    line-height: 1.8em

    &.card-text
      color: $super-dark

    >.open-volunteers
      position: relative
      color: $super-dark

      transition: all .3s ease-in-out
      cursor: pointer

      &:hover
        color: $dark

      &::after
        position: absolute
        bottom: -2px
        left: 0px
        width: 100%
        height: 2px
        background: $dark
        content: ' '

  >.school-life-image
    width: 100%
    height: 400px

    background: url('../images/girls-small.jpg')
      position: center -30px
      size: cover

    margin-bottom: 60px

  >.more
    color: $primary
    border-bottom: 1px solid $primary

.hero-image
  position: static

  margin-top: 70px

  height: 120vh
  width: 100%

  &.nursery-foto
    background: url('../images/nursery-one-small.jpg')
      size: cover
      position: center

  &.primary-foto
    background: url('../images/smile-small-unedited.jpg')
      size: cover
      position: center

  &.secondary-foto
    background: url('../images/table-centered-small.jpg')
      size: cover
      position: center

  &.team
    background: url('../images/laboratory-small.jpg')
      size: cover
      position: center

.numbers
  box-shadow: 0px 0px 30px rgba(0,0,0,.15) inset
  background: $super-light

  text-align: center

  padding: 80px 0

  .numbers-wrapper
    width: 100%
    background: $super-light

    margin: 30px 0

    border-top: 2px solid $light
    border-bottom: 2px solid $light

    align-items: center

    >.wrapper
      display: flex
      align-items: stretch
      justify-content: center

      >.box
        width: 100%
        height: 100%

        margin: 0
        padding: 30px 0px

        border-left: 2px solid $light

        &:nth-child(4)
          border-right: 2px solid $light

        >h5
          margin: 0
          margin-bottom: 10px
          letter-spacing: .05em
          color: $dark
          font-size: .9em

        >h3
          margin: 0
          color: $primary
          font-size: 2.2em

  .wrapper-numbers-cta

    display: flex
    justify-content: space-between

    >.link-container
      position: relative
      width: 100%

      display: flex
      align-items: center
      justify-content: flex-start

      >.more
        position: absolute
        left: 0px
        top: 0px

body
  margin-right: 10px

  .primary
    position: absolute
    top: 0px

    width: 100%

    color: black
    font-size: 1.1em

    padding: 0
    margin: 0

    background: white

    transition: all .25s ease-in-out

    z-index: 998

    .wrapper
      max-width: 1060px

      margin: 0 auto

      display: flex
      align-items: center
      justify-content: space-between

      border-bottom: 1px solid $light


      .logo
        height: 72px

      .primary-list
        list-style: none
        display: flex
        justify-content: space-between
        align-items: baseline

        margin: 0

        > li
          position: relative

          margin-left: 40px
          padding: 10px 0

          height: 70px

          display: flex
          align-items: center
          justify-content: center

          font-weight: 400
          color: black

          cursor: pointer
          transition: all .2s ease-in-out

          // except for border-bottom

          &.menu-normal
            letter-spacing: normal

            &:hover
              font-weight: 700
              color: rgb(255, 98, 0)
              letter-spacing: -.1px

              & > a
                font-weight: 700
                color: rgb(255, 98, 0)
                letter-spacing: -.1px

            &.clicked
              font-weight: 700
              color: rgb(255, 98, 0)
              letter-spacing: -.1px

              & > a
                font-weight: 700
                color: rgb(255, 98, 0)
                letter-spacing: -.1px

            .underline
              position: absolute
              bottom: -1px
              left: 0px

              width: 100%
              height: 2.5px

              background: transparent

              transition: all .42s ease-in-out

              &.clicked
                background: rgb(255, 98, 0)


          &.menu-login
            border: none
              radius: 3px

            padding: 5px 17px

            height: 20px

            font-size: .92em
            background: rgb(96, 166, 218)

            > a
              color: white

            &:hover
              background: rgb(90, 184, 233)

  .secondary
    position: absolute
    top: 0
    left: 0
    z-index: 997

    .secondary-list
      position: absolute
      top: 2px
      left: 0

      margin: 0
      padding: 10px 0 !important

      width: 100vw

      background: white

      border-bottom: 2px solid $light

      list-style: none

      font-size: 1.1em

      display: flex
      align-items: center
      justify-content: center

      transition: all .42s ease-in-out

      z-index: 3

      & > li
        margin: 5px 40px 5px 0
        padding-left: 40px

        border-left: 1px solid lighten(lightgrey, 10%)

        cursor: pointer

        z-index: 1000

        &:nth-child(1)
          border: none

        & > a
          color: darken(darkgrey, 30%)
          transition: all .3s ease-in-out

        &:hover > a
          color: darken(darkgrey, 40%)

      &.clicked
        top: 73px
        z-index: 4

  .mobile-menu
    position: fixed
    top: 0px
    left: 0px

    width: 100vw
    height: 100vh

    background: $primary

    z-index: 1000

    margin: 0px
    padding: 0px

    display: flex
    align-items: center
    justify-content: center

    text-align: center
    font-size: calc(2.5vw + 2.5vh)

    overflow-y: scroll

    transform: scale(1)
    transition: all .3s ease-in-out

    >.mobile-header
      display: flex
      width: calc(100% - 80px)
      justify-content: space-between
      align-items: center
      padding: 15px 40px
      position: fixed
      top: 0px
      left: 0px

    >ul
      margin-top: 80px
      list-style: none
      padding-right: 50px

      >li
        margin-bottom: 15px

        >a
          color: white

    &.hide
      transform: scale(0)

  .headline-centered
    background: #111111
    color: white

    padding: 60px 0

    text-align: center

    .wrapper
      > h4
        font-size: 2em

      > h3
        font-size: 1.5em
        color: #acacac

    &.index-orphan
      padding: 80px 0

      >.wrapper
        >h3
          line-height: 1.5em

          >.block
            display: block

    &.saturday
      background: white
      color: black

      >.wrapper
        >h3
          color: $dark
          text-align: justify
          line-height: 1.8em

        .information
          margin-top: 110px

          display: flex

          >.section-title
            width: 30%
            text-align: left

          >.section-content
            width: 70%
            text-align: right

  footer
    background: $super-light

    font-size: .8em

    >.wrapper
      display: flex
      align-items: flex-start
      justify-content: space-between

      padding: 30px 0px

      .logo-footer
        background: url('../images/logo-grey.png')
          size: cover
          position: center

        height: 52px
        width: 50px

      >.footer-link-wrapper
        >ul
          list-style: none
          margin: 0
          padding: 0

          color: $dark

          >li

            &:nth-child(1)
              position: relative
              margin-bottom: 5px

              &::after
                position: absolute
                left: 0px
                bottom: -1px

                content: ' '

                height: 1.3px
                width: 100%
                background: $medium

            >a
              color: $dark

              &:hover
                color: black

      >ul
        margin: 0
        padding: 0
        list-style: none

        color: $dark

        >li

          &:nth-child(1)
            position: relative
            margin-bottom: 5px

            &::after
              position: absolute
              left: 0px
              bottom: -1px

              content: ' '

              height: 1.3px
              width: 100%
              background: $medium

          >a
            color: $dark

            &:hover
              color: black

          >ul
            list-style: none
            margin: 0
            padding: 0

        &.meta-data
          >li
            &:nth-child(1)
              margin-bottom: 8px

            &:nth-child(2)
              margin-bottom: 8px

.pop-up
  display: inline

  cursor: pointer

  margin-left: 40px
  color: $dark
  background: $light
  padding: 5px 20px

  transition: all .1s ease-in-out

  &.head
    margin: 0px

  &:hover
    color: $light
    background: $dark

  &.open-volunteers
    background: white
    margin: 0
    padding: 0

.we-teach-section
  padding: 80px 0px 90px
  border-top: 1px solid $light
  border-bottom: 1px solid $light

  &:nth-child(3)
    border-bottom: none

  >.wrapper
    >h4, >h5
      text-align: center

.slider
  width: 100%

  &.primary-carousel-section
    box-shadow: 0px 0px 30px rgba(0,0,0,.1)

  &.history-section
    padding-bottom: 30px

  >.header
    background: white

    >.wrapper
      text-align: center
      position: relative
      padding: 25px 0

      width: 100%

      >h5
        color: $dark
        text-transform: uppercase
        margin: 0px 0px 5px
        letter-spacing: .05em

      >h3
        margin: 0px

      >.chevron-wrapper
        position: absolute
        margin: auto

        background: $primary
        display: flex
        align-items: center
        justify-content: space-between

        padding: 15px 20px
        color: white

        border-radius: 34px
        box-shadow: 6px 6px 20px $medium

        top: calc(50% - 22px)

        opacity: 1

        cursor: pointer

        transition: all .3s ease-in-out


        >p
          padding: 0
          margin: 0
          color: rgba(255,255,255,.95)

          transition: all .3s ease-in-out

          &.left
            margin-left: 5px

          &.right
            margin-right: 5px

        >img
          height: 17px
          width: 17px

          &.left
            transform: rotate(90deg)

          &.right
            transform: rotate(-90deg)

        &:hover > p.left
          margin-left: 8px

        &:hover > p.right
          margin-right: 8px

        &.left
          left: 0px

        &.right
          right: 0px

        &.hide
          opacity: 0
          pointer-events: none

  .slider-wrapper
    position: relative

    border-top: 2px solid $light

    overflow-x: hidden

    width: 100vw

    display: flex
    align-items: center
    justify-content: center

    transform: translateX(0vw)
    transition: all .6s ease-in-out

    &.nursery-slider-wrapper
      width: 300vw

    &.primary-slider-wrapper
      width: 400vw

    &.middle
      transform: translateX(-100vw)

    &.end
      transform: translateX(-200vw)

    &.real-end
      transform: translateX(-300vw)

    >.slide
      width: 100vw

      display: flex
      align-items: stretch
      justify-content: center

      >.container
        // border-left: 1px solid $light
        // border-right: 1px solid $light

        padding: 60px 0px

        &.primary-slider
          padding: 80px 0 30px

          >.wrapper

            >h4, h5
              text-align: center

            >h4
              font-size: 1.9em
              font-weight: 400
              margin-bottom: 0px

              >span
                position: relative

                &::after
                  position: absolute
                  left: 0px
                  bottom: -5px
                  height: 2px
                  width: 100%
                  background: $primary
                  content: ' '

            >h5
              margin-top: 25px
              text-transform: uppercase
              color: $dark
              margin-bottom: 80px
              letter-spacing: .05em

            >p
              margin: 0
              font-size: 1.45em
              color: $super-dark

              padding: 0
              margin: 0
              margin-bottom: 30px

              line-height: 1.85em

              &.small
                font-size: 1em
                margin-top: 10px

            >.more
              color: $primary
              border-bottom: 1px solid $primary

            >.teach-image
              width: 100%
              height: 450px

              margin-bottom: 60px

              background: $light

              &.nursery-subjects-image
                background: url('../images/nursery-two-small.jpg')
                  size: cover
                  position: center

              &.sleep-image
                background: url('../images/sleep-edited-small.jpg')
                  size: cover
                  position: center

              &.tv-image
                background: url('../images/new-media-small.jpg')
                  size: cover
                  position: center

              &.ict-primary-image
                background: url('../images/ict-primary-small.jpg')
                  size: cover
                  position: center

              &.ict-secondary-image
                background: url('../images/ict-secondary-small.jpg')
                  size: cover
                  position: center

              &.sports-image
                width: 100%
                height: 400px

                background: url('../images/jump-small.jpg')
                  size: cover
                  position: center bottom

              &.saturday-image
                width: 100%
                height: 400px

                background: url('../images/saturday-small.jpg')
                  size: cover
                  position: center

              &.confidence-image
                width: 100%
                height: 400px

                background: url('../images/confidence-small.jpg')
                  size: cover
                  position: center

              &.laboratory-image
                width: 100%
                height: 400px

                background: url('../images/secondary experiment-very-small.jpg')
                  size: cover
                  position: center

              &.combination-image
                width: 100%
                height: 400px

                background: url('../images/ict-secondary-small.jpg')
                  size: cover
                  position: center

              &.trip-image
                width: 100%
                height: 400px

                background: url('../images/zebra-small.jpg')
                  size: cover
                  position: center

            .way-wrapper
              display: flex
              align-items: center
              justify-content: center

              border-top: 1px solid $light
              border-bottom: 1px solid $light

              >.way
                border-left: 1px solid $light
                padding: 20px

                >h6
                  font-size: 1.2em
                  margin: 0px

                  >span
                    position: relative

                    &::after
                      position: absolute
                      left: 0px
                      bottom: -2px

                      height: 2px
                      width: 100%
                      background: $medium

                      content: ' '

                >p
                  margin-bottom: 0

                &:nth-child(3)
                  border-right: 1px solid $light

            .test-wrapper
              width: 600px

              margin: 60px auto 0px

              display: flex
              align-items: center
              justify-content: center
              flex-direction: column

              .line
                background: $medium
                width: 2px

                border-radius: 1px

                &.short
                  height: 40px

                &.medium
                  height: 80px

                &.long
                  height: 120px

              .circle
                position: relative

                width: 8px
                height: 8px

                border-radius: 50%

                background: $medium

                margin: 5px

                >.date
                  bottom: -23px

                &.date-left

                  >.date
                    position: absolute

                    color: $dark

                    right: 15px

                  >.percentage-container
                    position: absolute

                    left: 25px
                    bottom: -11px

                    margin: 0
                    padding: 0

                    color: $primary
                    font-weight: 600
                    font-size: 1.25em
                    letter-spacing: .03em

                    >p
                      position: absolute
                      padding: 0 0 0 8px

                      font-weight: 400
                      font-size: .8em
                      color: $dark
                      letter-spacing: normal

                      left: 67px
                      top: -12px

                      width: 300px

                      border-left: 1px solid $medium

                      &.last
                        left: 50px

                &.date-right

                  >.date
                    position: absolute

                    color: $dark

                    left: 15px

                  >.percentage-container
                    position: absolute

                    right: 15px
                    bottom: -9px

                    margin: 0
                    padding: 0

                    color: $primary
                    font-weight: 600
                    font-size: 1.25em
                    letter-spacing: .03em

                    >p
                      position: absolute
                      padding: 0 10px 0 0

                      font-weight: 400
                      font-size: .8em
                      color: $dark
                      letter-spacing: normal
                      text-align: right

                      right: 70px
                      top: -16px

                      width: 300px

                      border-right: 1px solid $medium

        >p
          font-size: 1.45em
          color: $super-dark

          padding: 0
          margin: 0

          line-height: 1.85em

          margin: 0px 90px

          >a
            position: relative
            display: inline-block
            color: $super-dark
            transition: color .3s ease-in-out

            &::after
              content: ' '
              position: absolute
              left: 0px
              bottom: 4px
              height: 2px
              width: 100%
              background: $primary

            &:hover
              color: $primary

  >.slider-secondary-navigation-wrapper
    padding: 10px 0 40px
    width: 100vw
    bottom: 20px
    left: 0px
    display: flex
    align-items: center
    justify-content: center
    border-bottom: 2px solid $light

    >.container
      width: 150px
      height: 20px

      display: flex
      align-items: center
      justify-content: space-between

      >span
        border-radius: 100%

        box-shadow: 2px 2px 5px $light

        width: 12px
        height: 12px
        background: $light

        cursor: pointer
        transition: all .3s ease-in-out

        &:hover
          background: $primary

        &.open
          background: $primary

        &.eins-open
          background: $primary

  .slider-footer
    text-align: center
    padding: 90px 0px

.hamburger-container
  display: none
  align-items: center
  justify-content: center
  flex-direction: column

  cursor: pointer

  width: 40px
  height: 40px
  z-index: 1000

  >span
    height: 4px
    width: 40px
    background: black
    margin-bottom: 8px
    border-radius: 2px

    &:nth-child(3)
      margin-bottom: 0px

  &.close
    display: flex
    position: relative

    >span
      position: absolute
      background: white
      margin-bottom: 0px
      top: 19px

      &:nth-child(1)
        transform: rotate(45deg)
        top

      &:nth-child(2)
        display: none

      &:nth-child(3)
        transform: rotate(-45deg)
        top: 19px
