body
  .index-header
    height: 100vh
    // height: 76vh

    background:
      size: cover
      position: center -40px

    &::before
      height: 100vh

    .wrapper-header
      > h1
        margin-bottom: 20px

    > .chevron-down
      position: absolute
      bottom: 40px

      width: 30px
      height: 30px

  .values
    display: flex
    align-items: baseline
    justify-content: center

    text-align: left

    margin: 100px auto

    &.contact
      align-items: flex-start

    .section-title
      width: 30%

      > h4
        margin: 0

        color: $primary
        font-size: 1.5em
        letter-spacing: .3px
        font-weight: 800

        &.contact
          color: $dark

    .section-content
      width: 70%

      &.contact
        display: flex
        align-items: center
        justify-content: space-between

      > h3
        margin: 0

        &.mission-text
          color: $dark

          margin-bottom: 70px

      .author
        display: flex
        align-items: center

        margin-top: -12px

        > h5
          color: $dark
          text-transform: uppercase

        .horizontal
          display: table

          width: 90px
          height: 1.2px

          background: $light

          margin-right: 20px

      .academics-list
        margin: 40px 0 35px
        padding: 0

        list-style: none

        > li
          margin: 0
          padding: 0

          font-size: 1.2em
          color: lighten(black, 20%)
          line-height: 1.6em

          .chevron-right
            transform: rotateZ(-90deg)
            width: 10px
            height: 10px

      .more-schools
        padding: 15px 30px
        background: $primary
        color: white

        font-size: 1.1em

        transition: all .3s ease-in-out

        &:hover
          background: black

    /* -------- SCHOOLS ------- */

  .schools
    .school
      width: 100%
      height: 60vh
      min-height: 570px

      display: flex
      align-items: center
      justify-content: center

      .description
        width: 30%
        height: 100%

        display: flex
        align-items: center
        justify-content: flex-start

        .school-wrapper
          width: 258px
          overflow: hidden

          display: flex
          align-items: flex-start
          justify-content: left
          flex-direction: column

          > h2
            border-bottom: 2px solid $light
            padding-bottom: 25px

            font-size: 2.2em
            font-weight: 200
            letter-spacing: .5px

          > h3
            font-size: 1.1em

          .more
            margin-top: 45px

            &:hover
              margin-top: 41px

      .image
        width: 70%
        height: 100%

        &.nursery
          background: url('../images/nursery-one.jpg')
            size: cover
            position: center

          order: 1

        &.primary
          background: url('../images/primary.jpg')
            size: cover
            position: center

          order: 2

        &.secondary
          background: url('../images/secondary school.jpg')
            size: cover
            position: center

          order: 1

      &.nursery
        .description
          order: 2

          padding: 0px 0px 0px 30px

          background: #811b7e

          color: white

          .school-wrapper
            > h2
              // border-bottom: 2px solid white

            > h3
              color: white

            .more
              color: white

              border-bottom: 1.5px solid white

      &.primary
        .description
          order: 1

          padding: 0px 30px 0px 0px

          background: #79978f

          color: white

          justify-content: flex-end

          .school-wrapper
            > h2
              border-bottom: 2px solid $light

            > h3
              color: white

            .more
              color: white

              border-bottom: 1.5px solid white

      &.secondary
        .description
          position: relative

          order: 2

          padding: 0px 0px 0px 30px

          background: white

          color: black

          .border-bottom
            position: absolute
            bottom: 0px
            right: 0px

            height: 2px
            width: 100%

            background: $light

          .school-wrapper
            > h2
              border-bottom: 2px solid $light

            > h3
              color: $dark

            .more
              color: black

              border-bottom: 1.5px solid black

  .orphans
    background: #111111
    color: white

    padding: 60px 0

    text-align: center

    .wrapper
      > h4
        font-size: 2em

      > h3
        font-size: 1.5em
        color: #acacac
