@font-face {
  font-family: OpenSans;
  src: url("Open_Sans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: OpenSansBold;
  src: url("Open_Sans/OpenSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: RobotoSlab;
  src: url("Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype"); }

* {
  z-index: 1; }

html, body {
  font-family: OpenSans;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden; }

h1 {
  font-family: RobotoSlab;
  font-weight: 700; }

h3 {
  font-weight: 400;
  font-size: 2em; }
  h3 bold {
    font-weight: 700; }

h4 {
  margin: 0;
  font-size: 1.5em;
  letter-spacing: .3px;
  font-weight: 800; }

a {
  text-decoration: none;
  color: black; }

.wrapper {
  max-width: 1060px;
  padding: 0 40px;
  margin: 0 auto; }
  .wrapper.small {
    max-width: 860px; }

.more {
  padding-bottom: 1px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;
  letter-spacing: 1.2px;
  border-bottom: 1.5px solid black;
  -webkit-transition: all 0.3s cubic-bezier(0.22, -0.12, 0.63, 1.41);
  -o-transition: all 0.3s cubic-bezier(0.22, -0.12, 0.63, 1.41);
  transition: all 0.3s cubic-bezier(0.22, -0.12, 0.63, 1.41); }
  .more:hover {
    padding-bottom: 5px; }

.more-big {
  padding: 15px 30px;
  background: #ff6200;
  color: white;
  font-size: 1.1em;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .more-big:hover {
    background: black; }

.headline-row-text-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
  margin: 100px auto; }
  .headline-row-text-cta.contact {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .headline-row-text-cta.school-buttons {
    padding-top: 50px;
    margin: 50px auto;
    border-top: 1px solid #e1e1e1; }
    .headline-row-text-cta.school-buttons.no-border {
      border: none;
      padding: 50px 0; }
    .headline-row-text-cta.school-buttons.information {
      margin-top: 50px;
      color: #707070; }
  .headline-row-text-cta .section-title {
    width: 30%; }
    .headline-row-text-cta .section-title > h4 {
      color: #ff6200; }
      .headline-row-text-cta .section-title > h4.contact {
        color: #707070; }
  .headline-row-text-cta .section-content {
    width: 70%;
    color: #363636; }
    .headline-row-text-cta .section-content.contact {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .headline-row-text-cta .section-content.contact.school-cta {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .headline-row-text-cta .section-content.contact.school-cta > a {
          margin-right: 175px; }
    .headline-row-text-cta .section-content > h3 {
      margin: 0; }
      .headline-row-text-cta .section-content > h3.mission-text {
        color: #707070;
        margin-bottom: 70px; }
    .headline-row-text-cta .section-content .author {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: -12px; }
      .headline-row-text-cta .section-content .author > h5 {
        color: #707070;
        text-transform: uppercase; }
      .headline-row-text-cta .section-content .author .horizontal {
        display: table;
        width: 90px;
        height: 1.2px;
        background: #e1e1e1;
        margin-right: 20px; }
    .headline-row-text-cta .section-content .academics-list {
      margin: 40px 0 35px;
      padding: 0;
      list-style: none; }
      .headline-row-text-cta .section-content .academics-list > li {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        color: #333333;
        line-height: 1.6em; }
        .headline-row-text-cta .section-content .academics-list > li .chevron-right {
          -webkit-transform: rotateZ(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotateZ(-90deg);
          width: 10px;
          height: 10px; }

.header-title {
  margin-top: 131px;
  border-right: 25px solid #ff6200; }
  .header-title.wrapper {
    width: 1020px; }
  .header-title > h2 {
    font-size: 3.6em;
    margin: 0;
    margin-bottom: 10px;
    margin-left: -10px; }
  .header-title > h5 {
    margin: .1em;
    padding-left: 1.2em;
    margin-left: -10px;
    font-size: 1.1em;
    color: #707070; }
  .header-title > .pop-up-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 1.2em;
    margin-left: 10px; }
    .header-title > .pop-up-wrapper > .pop-up {
      margin-right: .6em; }

.motto {
  margin: 120px auto;
  text-align: center; }
  .motto > h2 {
    color: #707070; }
  .motto > h3 {
    margin-top: 15px;
    font-size: 3.2em;
    margin-bottom: 50px; }
    .motto > h3.school-life-headline {
      margin-top: 160px !important; }
  .motto > h4 {
    font-size: 1.3em;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.8em; }
  .motto > .school-life-image {
    width: 100%;
    height: 400px;
    background: url("../images/girls.jpg");
      background-position: center -30px;
      background-size: cover;
    margin-bottom: 60px; }
  .motto > .more {
    color: #ff6200;
    border-bottom: 1px solid #ff6200; }

.hero-image {
  position: static;
  margin-top: 70px;
  height: 120vh;
  width: 100%; }
  .hero-image.primary-foto {
    background: url("../images/primary.jpg");
      background-size: cover;
      background-position: center; }
  .hero-image.team {
    background: url("../images/laboratory.jpg");
      background-size: cover;
      background-position: center; }

.numbers {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15) inset;
  background: #f5f7f8;
  text-align: center;
  padding: 80px 0; }
  .numbers .numbers-wrapper {
    width: 100%;
    background: #f5f7f8;
    margin: 30px 0;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .numbers .numbers-wrapper > .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .numbers .numbers-wrapper > .wrapper > .box {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 30px 0px;
        border-left: 2px solid #e1e1e1; }
        .numbers .numbers-wrapper > .wrapper > .box:nth-child(4) {
          border-right: 2px solid #e1e1e1; }
        .numbers .numbers-wrapper > .wrapper > .box > h5 {
          margin: 0;
          margin-bottom: 10px;
          letter-spacing: .05em;
          color: #707070;
          font-size: .9em; }
        .numbers .numbers-wrapper > .wrapper > .box > h3 {
          margin: 0;
          color: #ff6200;
          font-size: 2.2em; }
  .numbers .wrapper-numbers-cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .numbers .wrapper-numbers-cta > .link-container {
      position: relative;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .numbers .wrapper-numbers-cta > .link-container > .more {
        position: absolute;
        left: 0px;
        top: 0px; }

body .primary {
  position: absolute;
  top: 0px;
  width: 100%;
  color: black;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  background: white;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: 998; }
  body .primary .wrapper {
    max-width: 1060px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1; }
    body .primary .wrapper .logo {
      height: 72px; }
    body .primary .wrapper .primary-list {
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      margin: 0; }
      body .primary .wrapper .primary-list > li {
        position: relative;
        margin-left: 40px;
        padding: 10px 0;
        height: 70px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-weight: 400;
        color: black;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        body .primary .wrapper .primary-list > li.menu-normal {
          letter-spacing: normal; }
          body .primary .wrapper .primary-list > li.menu-normal:hover {
            font-weight: 700;
            color: #ff6200;
            letter-spacing: -.1px; }
            body .primary .wrapper .primary-list > li.menu-normal:hover > a {
              font-weight: 700;
              color: #ff6200;
              letter-spacing: -.1px; }
          body .primary .wrapper .primary-list > li.menu-normal.clicked {
            font-weight: 700;
            color: #ff6200;
            letter-spacing: -.1px; }
            body .primary .wrapper .primary-list > li.menu-normal.clicked > a {
              font-weight: 700;
              color: #ff6200;
              letter-spacing: -.1px; }
          body .primary .wrapper .primary-list > li.menu-normal .underline {
            position: absolute;
            bottom: -1px;
            left: 0px;
            width: 100%;
            height: 2.5px;
            background: transparent;
            -webkit-transition: all .42s ease-in-out;
            -o-transition: all .42s ease-in-out;
            transition: all .42s ease-in-out; }
            body .primary .wrapper .primary-list > li.menu-normal .underline.clicked {
              background: #ff6200; }
        body .primary .wrapper .primary-list > li.menu-login {
          border: none;
            border-radius: 3px;
          padding: 5px 17px;
          height: 20px;
          font-size: .92em;
          background: #60a6da; }
          body .primary .wrapper .primary-list > li.menu-login > a {
            color: white; }
          body .primary .wrapper .primary-list > li.menu-login:hover {
            background: #5ab8e9; }

body .secondary {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 997; }
  body .secondary .secondary-list {
    position: absolute;
    top: 2px;
    left: 0;
    margin: 0;
    padding: 10px 0 !important;
    width: 100vw;
    background: white;
    border-bottom: 2px solid #e1e1e1;
    list-style: none;
    font-size: 1.1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .42s ease-in-out;
    -o-transition: all .42s ease-in-out;
    transition: all .42s ease-in-out;
    z-index: 3; }
    body .secondary .secondary-list > li {
      margin: 5px 40px 5px 0;
      padding-left: 40px;
      border-left: 1px solid #ededed;
      cursor: pointer;
      z-index: 1000; }
      body .secondary .secondary-list > li:nth-child(1) {
        border: none; }
      body .secondary .secondary-list > li > a {
        color: #5d5d5d;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      body .secondary .secondary-list > li:hover > a {
        color: #434343; }
    body .secondary .secondary-list.clicked {
      top: 73px;
      z-index: 4; }

body .headline-centered {
  background: #111111;
  color: white;
  padding: 60px 0;
  text-align: center; }
  body .headline-centered .wrapper > h4 {
    font-size: 2em; }
  body .headline-centered .wrapper > h3 {
    font-size: 1.5em;
    color: #acacac; }
  body .headline-centered.index-orphan > .wrapper {
    padding-top: 20px;
    padding-bottom: 20px; }
    body .headline-centered.index-orphan > .wrapper > h3 {
      line-height: 1.5em; }
  body .headline-centered.saturday {
    background: white;
    color: black; }
    body .headline-centered.saturday > .wrapper > h3 {
      color: #707070;
      text-align: justify;
      line-height: 1.8em; }
    body .headline-centered.saturday > .wrapper .information {
      margin-top: 110px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      body .headline-centered.saturday > .wrapper .information > .section-title {
        width: 30%;
        text-align: left; }
      body .headline-centered.saturday > .wrapper .information > .section-content {
        width: 70%;
        text-align: right; }

body footer {
  background: #f5f7f8;
  font-size: .8em; }
  body footer > .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 0px; }
    body footer > .wrapper .logo-footer {
      background: url("../images/logo-grey.png");
        background-size: cover;
        background-position: center;
      height: 52px;
      width: 50px; }
    body footer > .wrapper > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      color: #707070; }
      body footer > .wrapper > ul > li:nth-child(1) {
        position: relative;
        margin-bottom: 5px; }
        body footer > .wrapper > ul > li:nth-child(1)::after {
          position: absolute;
          left: 0px;
          bottom: -1px;
          content: ' ';
          height: 1.3px;
          width: 100%;
          background: #acacac; }
      body footer > .wrapper > ul > li > a {
        color: #707070; }
        body footer > .wrapper > ul > li > a:hover {
          color: black; }
      body footer > .wrapper > ul > li > ul {
        list-style: none;
        margin: 0;
        padding: 0; }
      body footer > .wrapper > ul.meta-data > li:nth-child(1) {
        margin-bottom: 8px; }
      body footer > .wrapper > ul.meta-data > li:nth-child(2) {
        margin-bottom: 8px; }

.pop-up {
  display: inline;
  cursor: pointer;
  margin-left: 40px;
  color: #707070;
  background: #e1e1e1;
  padding: 5px 20px;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }
  .pop-up.head {
    margin: 0px; }
  .pop-up:hover {
    color: #e1e1e1;
    background: #707070; }

.we-teach-section {
  padding: 80px 0px 90px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }
  .we-teach-section:nth-child(3) {
    border-bottom: none; }
  .we-teach-section > .wrapper > h4, .we-teach-section > .wrapper > h5 {
    text-align: center; }

.slider {
  width: 100%; }
  .slider.primary-carousel-section {
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }
  .slider > .header {
    background: white; }
    .slider > .header > .wrapper {
      text-align: center;
      position: relative;
      padding: 25px 0; }
      .slider > .header > .wrapper > h5 {
        color: #707070;
        text-transform: uppercase;
        margin: 0px 0px 5px;
        letter-spacing: .05em; }
      .slider > .header > .wrapper > h3 {
        margin: 0px; }
      .slider > .header > .wrapper > .chevron {
        position: absolute;
        margin: auto;
        opacity: 1;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .slider > .header > .wrapper > .chevron.left {
          left: 0px;
          top: 44px;
          height: 30px;
          width: 30px;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
        .slider > .header > .wrapper > .chevron.right {
          right: 0px;
          top: 44px;
          height: 30px;
          width: 30px;
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
        .slider > .header > .wrapper > .chevron.hide {
          opacity: 0;
          pointer-events: none; }
  .slider .slider-wrapper {
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    overflow-x: hidden;
    width: 300vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    transform: translateX(0vw);
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out; }
    .slider .slider-wrapper.primary-slider-wrapper {
      width: 400vw; }
    .slider .slider-wrapper.middle {
      -webkit-transform: translateX(-100vw);
      -ms-transform: translateX(-100vw);
      transform: translateX(-100vw); }
    .slider .slider-wrapper.end {
      -webkit-transform: translateX(-200vw);
      -ms-transform: translateX(-200vw);
      transform: translateX(-200vw); }
    .slider .slider-wrapper.real-end {
      -webkit-transform: translateX(-300vw);
      -ms-transform: translateX(-300vw);
      transform: translateX(-300vw); }
    .slider .slider-wrapper > .slide {
      width: 100vw;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .slider .slider-wrapper > .slide > .container {
        padding: 60px 0px; }
        .slider .slider-wrapper > .slide > .container.primary-slider {
          padding: 80px 0; }
          .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > h4, .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper h5 {
            text-align: center; }
          .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > h4 {
            font-size: 1.9em;
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 0px; }
            .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > h4 > span {
              position: relative; }
              .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > h4 > span::after {
                position: absolute;
                left: 0px;
                bottom: -5px;
                height: 2px;
                width: 100%;
                background: #ff6200;
                content: ' '; }
          .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > h5 {
            margin-top: 25px;
            text-transform: uppercase;
            color: #707070;
            margin-bottom: 80px;
            letter-spacing: .05em; }
          .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > p {
            margin: 0;
            font-size: 1.45em;
            color: #363636;
            padding: 0;
            margin: 0;
            margin-bottom: 30px;
            line-height: 1.85em; }
          .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > .more {
            color: #ff6200;
            border-bottom: 1px solid #ff6200; }
          .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > .teach-image {
            width: 100%;
            height: 400px;
            margin-bottom: 60px; }
            .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > .teach-image.ict-image {
              background: url("../images/ict-secondary.jpg");
                background-size: cover;
                background-position: center; }
            .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > .teach-image.sports-image {
              width: 100%;
              height: 400px;
              background: url("../images/jump.jpg");
                background-size: cover;
                background-position: center -200px; }
            .slider .slider-wrapper > .slide > .container.primary-slider > .wrapper > .teach-image.saturday-image {
              width: 100%;
              height: 400px;
              background: url("../images/board.jpg");
                background-size: cover;
                background-position: center; }
        .slider .slider-wrapper > .slide > .container > p {
          font-size: 1.45em;
          color: #363636;
          padding: 0;
          margin: 0;
          line-height: 1.85em;
          margin: 0px 90px; }
          .slider .slider-wrapper > .slide > .container > p > a {
            position: relative;
            display: inline-block;
            color: #363636;
            -webkit-transition: color .3s ease-in-out;
            -o-transition: color .3s ease-in-out;
            transition: color .3s ease-in-out; }
            .slider .slider-wrapper > .slide > .container > p > a::after {
              content: ' ';
              position: absolute;
              left: 0px;
              bottom: 4px;
              height: 2px;
              width: 100%;
              background: #ff6200; }
            .slider .slider-wrapper > .slide > .container > p > a:hover {
              color: #ff6200; }
  .slider .slider-footer {
    text-align: center;
    padding: 90px 0px; }

body .primary.index > .wrapper {
  border-bottom: 1px solid white; }
  body .primary.index > .wrapper.open {
    border-bottom: 1px solid #e1e1e1; }

body .index-header {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  background: url("images/laboratory.jpg");
    background-size: cover;
    background-position: center -40px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  /* -------- SCHOOLS ------- */ }
  body .index-header::before {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    content: ' '; }
  body .index-header .wrapper-header {
    max-width: 1060px;
    text-align: center; }
    body .index-header .wrapper-header > h1 {
      margin-top: 70px;
      margin-bottom: 20px;
      font-size: 4.4em;
      letter-spacing: 1.9px;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
    body .index-header .wrapper-header > h3 {
      font-size: 1.8em;
      text-align: center;
      color: rgba(255, 255, 255, 0.85);
      letter-spacing: .5px;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
  body .index-header > .chevron-down {
    position: absolute;
    bottom: 40px;
    width: 30px;
    height: 30px; }

body .schools .school {
  width: 100%;
  height: 60vh;
  min-height: 570px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  body .schools .school .description {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    body .schools .school .description .school-wrapper {
      width: 258px;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
      -ms-flex-pack: left;
      justify-content: left;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      body .schools .school .description .school-wrapper > h2 {
        border-bottom: 2px solid #e1e1e1;
        padding-bottom: 25px;
        font-size: 2.2em;
        font-weight: 200;
        letter-spacing: .5px; }
      body .schools .school .description .school-wrapper > h3 {
        font-size: 1.1em; }
      body .schools .school .description .school-wrapper .more {
        margin-top: 45px; }
        body .schools .school .description .school-wrapper .more:hover {
          margin-top: 41px; }
  body .schools .school .image {
    width: 70%;
    height: 100%; }
    body .schools .school .image.nursery-school {
      background: url("../images/nursery-one.jpg");
        background-size: cover;
        background-position: center;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    body .schools .school .image.primary-school {
      background: url("../images/IMG_9631.jpg");
        background-size: cover;
        background-position: center;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    body .schools .school .image.secondary-school {
      background: url("../images/table-centered.jpg");
        background-size: cover;
        background-position: center;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
  body .schools .school.nursery-school .description {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding: 0px 0px 0px 30px;
    background: #961f93;
    color: white; }
    body .schools .school.nursery-school .description .school-wrapper > h3 {
      color: white; }
    body .schools .school.nursery-school .description .school-wrapper .more {
      color: white;
      border-bottom: 1.5px solid white; }
  body .schools .school.primary-school .description {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 0px 30px 0px 0px;
    background: white;
    color: black;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    body .schools .school.primary-school .description .school-wrapper > h2 {
      border-bottom: 2px solid #e1e1e1; }
    body .schools .school.primary-school .description .school-wrapper > h3 {
      color: #707070; }
    body .schools .school.primary-school .description .school-wrapper .more {
      color: black;
      border-bottom: 1.5px solid black; }
  body .schools .school.secondary-school .description {
    position: relative;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding: 0px 0px 0px 30px;
    background: #708330;
    color: white; }
    body .schools .school.secondary-school .description .school-wrapper > h2 {
      border-bottom: 2px solid #e1e1e1; }
    body .schools .school.secondary-school .description .school-wrapper > h3 {
      color: white; }
    body .schools .school.secondary-school .description .school-wrapper .more {
      color: white;
      border-bottom: 1.5px solid white; }

body .meals-section {
  background: #f5f7f8;
  padding: 120px 0; }
  body .meals-section.padding-bottom-small {
    padding-bottom: 60px; }
  body .meals-section.padding-top-small {
    padding-top: 0px; }
    body .meals-section.padding-top-small > .wrapper {
      text-align: right; }
      body .meals-section.padding-top-small > .wrapper > .meals-box {
        text-align: left; }
        body .meals-section.padding-top-small > .wrapper > .meals-box > .meals-container {
          -webkit-box-ordinal-group: 3;
          -webkit-order: 2;
          -ms-flex-order: 2;
          order: 2; }
        body .meals-section.padding-top-small > .wrapper > .meals-box > .meals-image {
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
          -ms-flex-order: 1;
          order: 1; }
  body .meals-section > .wrapper > h3 {
    margin: 0; }
  body .meals-section > .wrapper > h5 {
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #707070;
    margin: 0; }
  body .meals-section > .wrapper .meals-box {
    width: 100%;
    height: 320px;
    background: white;
    -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    margin: 30px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body .meals-section > .wrapper .meals-box .meals-image {
      width: 70%;
      height: 100%;
      background: url("../images/statue.jpg");
        background-size: cover;
        background-position: center; }
    body .meals-section > .wrapper .meals-box .meals-container {
      width: 30%;
      padding: 30px; }
      body .meals-section > .wrapper .meals-box .meals-container > h2 {
        margin-top: 0;
        margin-bottom: .5em; }
      body .meals-section > .wrapper .meals-box .meals-container > p {
        line-height: 1.5em;
        margin-bottom: 30px; }
      body .meals-section > .wrapper .meals-box .meals-container > .more {
        color: #ff6200;
        border-bottom: 1px solid #ff6200; }

.motto.wrapper.small.team > h3 {
  margin-top: 90px;
  color: black;
  margin-bottom: 0; }

.motto.wrapper.small.team > h5 {
  color: #707070;
  text-transform: uppercase;
  font-size: .9em;
  margin-top: 10px;
  margin-bottom: 80px;
  letter-spacing: .45px; }

.team-section {
  background: #f5f7f8;
  padding: 60px 0; }
  .team-section .wrapper .team-headline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px; }
    .team-section .wrapper .team-headline .title-wrapper > h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 2.2em; }
    .team-section .wrapper .team-headline .title-wrapper > h5 {
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 0px;
      text-transform: uppercase;
      color: #707070;
      letter-spacing: .45px; }
  .team-section .wrapper .profile-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .team-section .wrapper .profile-wrapper .profile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      margin: 30px; }
      .team-section .wrapper .profile-wrapper .profile .image {
        height: 300px;
        width: 100%;
        margin-bottom: 30px; }
      .team-section .wrapper .profile-wrapper .profile > h4 {
        font-weight: 400; }
      .team-section .wrapper .profile-wrapper .profile > h5 {
        margin-top: 5px;
        color: #acacac;
        text-transform: uppercase;
        letter-spacing: .45px; }
      .team-section .wrapper .profile-wrapper .profile.nursery-one > .image {
        background: url("../images/mtiro-small.jpg");
          background-size: cover;
          background-position: center; }
      .team-section .wrapper .profile-wrapper .profile.nursery-two > .image {
        background: url("../images/regina-small.jpg");
          background-size: cover;
          background-position: center; }
      .team-section .wrapper .profile-wrapper .profile.nursery-three > .image {
        background: url("../images/olaph-small.jpg");
          background-size: cover;
          background-position: center; }
  .team-section .wrapper .team-list {
    list-style: none;
    padding: 0px;
    padding-bottom: 25px; }
    .team-section .wrapper .team-list > li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0px 30px; }
      .team-section .wrapper .team-list > li:nth-child(2n) {
        background: #e1e1e1; }
  .team-section .wrapper > .more {
    color: #ff6200;
    border-bottom: 1px solid #ff6200; }
  .team-section .wrapper > hr {
    background: #e1e1e1;
    height: 1px;
    width: 100%;
    border: none;
    margin: 80px 0px 60px; }

.get-in-touch {
  padding: 90px 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .get-in-touch > h3 {
    margin: 0px; }
  .get-in-touch > .more-big {
    margin-top: 30px; }

.card-background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }
  .card-background.visible {
    opacity: 1;
    pointer-events: auto; }

.card {
  background: white;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: calc(60vw - 60px);
  max-height: calc(90vh - 60px);
  z-index: 999;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
  padding: 0px 0px 60px;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
  -webkit-transition: 0.35s cubic-bezier(0.22, -0.12, 0.63, 2.41);
  -o-transition: 0.35s cubic-bezier(0.22, -0.12, 0.63, 2.41);
  transition: 0.35s cubic-bezier(0.22, -0.12, 0.63, 2.41);
  pointer-events: none; }
  .card .card-header {
    position: relative;
    border-bottom: 1px solid #e1e1e1; }
    .card .card-header > h3 {
      position: relative;
      color: black;
      margin: 18px 30px;
      padding: 0; }
    .card .card-header .cross {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      -webkit-transition: .4s ease-in-out;
      -o-transition: .4s ease-in-out;
      transition: .4s ease-in-out; }
      .card .card-header .cross > span {
        position: absolute;
        top: 20px;
        width: 40px;
        height: 2.5px;
        border-radius: 1px;
        background: #e1e1e1;
        -webkit-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out; }
        .card .card-header .cross > span:nth-child(1) {
          -webkit-transform: rotateZ(45deg);
          -ms-transform: rotate(45deg);
          transform: rotateZ(45deg); }
        .card .card-header .cross > span:nth-child(2) {
          -webkit-transform: rotateZ(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg); }
      .card .card-header .cross:hover > span {
        background: #707070; }
      .card .card-header .cross:hover {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
  .card.open {
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  .card.further-contacts > .card-content > ul {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    list-style: none; }
    .card.further-contacts > .card-content > ul > li > p {
      margin: 0; }
      .card.further-contacts > .card-content > ul > li > p:nth-child(1) {
        font-size: 1.4em;
        font-weight: 600;
        margin-bottom: 6px; }
      .card.further-contacts > .card-content > ul > li > p:nth-child(2) {
        padding-left: 5px;
        margin-bottom: 20px;
        font-size: 1.1em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .card.further-contacts > .card-content > ul > li > p:nth-child(2) > .chevron-right {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
          height: 10px;
          width: 10px;
          margin-right: 7px; }
  .card .card-content {
    padding: 20px;
    overflow-y: scroll;
    max-height: calc((90vh - 60px) - 80px); }
    .card .card-content > .more {
      color: #ff6200;
      border-bottom-color: #ff6200; }
    .card .card-content > .image {
      width: 100%;
      margin-bottom: 40px; }
    .card .card-content > ol {
      margin-bottom: 40px; }
      .card .card-content > ol > li {
        line-height: 1.7em; }
    .card .card-content .fee-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .card .card-content .fee-wrapper > .column {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        z-index: 500; }
        .card .card-content .fee-wrapper > .column.one {
          margin-top: 60px; }
        .card .card-content .fee-wrapper > .column.two {
          margin-bottom: 90px; }
        .card .card-content .fee-wrapper > .column > .quater {
          width: 200px;
          height: 200px;
          position: relative;
          z-index: 500; }
          .card .card-content .fee-wrapper > .column > .quater.one {
            border-top-left-radius: 100%;
            border-top: 1px solid #e1e1e1;
            background: #e1e1e1; }
            .card .card-content .fee-wrapper > .column > .quater.one > h5 {
              bottom: 40px;
              right: 40px; }
          .card .card-content .fee-wrapper > .column > .quater.two {
            border-top-right-radius: 100%;
            border-top: 1px solid #e1e1e1; }
            .card .card-content .fee-wrapper > .column > .quater.two > h5 {
              bottom: 40px;
              left: 40px; }
          .card .card-content .fee-wrapper > .column > .quater.three {
            border-bottom-left-radius: 100%;
            border-bottom: 1px solid #e1e1e1; }
            .card .card-content .fee-wrapper > .column > .quater.three > h5 {
              top: 40px;
              right: 40px; }
          .card .card-content .fee-wrapper > .column > .quater.four {
            border-bottom-right-radius: 100%;
            border-bottom: 1px solid #e1e1e1;
            background: #e1e1e1; }
            .card .card-content .fee-wrapper > .column > .quater.four > h5 {
              top: 40px;
              left: 40px; }
          .card .card-content .fee-wrapper > .column > .quater > h5 {
            position: absolute;
            font-size: 1.1em; }
          .card .card-content .fee-wrapper > .column > .quater .circle {
            position: absolute;
            width: 5px;
            height: 5px;
            background: white;
            border: 2px solid #ff6200;
              border-radius: 100%;
            z-index: 1000; }
            .card .card-content .fee-wrapper > .column > .quater .circle.one {
              bottom: -5px;
              left: -5px; }
            .card .card-content .fee-wrapper > .column > .quater .circle.two {
              top: -5px;
              left: -5px; }
              .card .card-content .fee-wrapper > .column > .quater .circle.two > p {
                position: absolute;
                top: 15px;
                left: -40px;
                right: 0px;
                margin: 0 auto;
                width: 100px;
                text-align: center; }
            .card .card-content .fee-wrapper > .column > .quater .circle.three {
              bottom: -5px;
              right: -5px; }
              .card .card-content .fee-wrapper > .column > .quater .circle.three > p {
                position: absolute;
                top: 15px;
                left: -40px;
                right: 0px;
                margin: 0 auto;
                width: 100px;
                text-align: center; }
            .card .card-content .fee-wrapper > .column > .quater .circle.four {
              top: -5px;
              right: -5px; }

body .secondary-header {
  background: url("images/secondary school.jpg");
    background-size: cover;
    background-position: center; }

.campus {
  background: #f5f7f8;
  padding: 120px 0;
  margin-bottom: 120px; }
  .campus > .wrapper > h3 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.5em; }
  .campus > .wrapper > h5 {
    margin: 0px;
      margin-bottom: 80px;
    text-transform: uppercase;
    color: #707070;
    letter-spacing: .7px;
    font-size: 1em; }
  .campus > .wrapper .feature {
    background: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 450px; }
    .campus > .wrapper .feature .feature-image {
      width: 70%;
      height: 100%; }
      .campus > .wrapper .feature .feature-image.shop {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        background: url("../images/laboratory.JPG");
          background-size: cover;
          background-position: center; }
      .campus > .wrapper .feature .feature-image.transportation {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        background: url("../images/outer.JPG");
          background-size: cover;
          background-position: center; }
      .campus > .wrapper .feature .feature-image.picknick {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        background: url("../images/table-centered.JPG");
          background-size: cover;
          background-position: center; }
    .campus > .wrapper .feature .feature-content {
      padding: 30px;
      width: 30%; }
      .campus > .wrapper .feature .feature-content > h4 {
        margin-bottom: 3px;
        font-size: 1.7em; }
      .campus > .wrapper .feature .feature-content > h5 {
        margin: 0;
        color: #707070;
        text-transform: uppercase;
        letter-spacing: .4px;
        margin-bottom: 30px; }
      .campus > .wrapper .feature .feature-content > p {
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 60px; }
      .campus > .wrapper .feature .feature-content.shop {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; }
      .campus > .wrapper .feature .feature-content.transportation {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1; }
      .campus > .wrapper .feature .feature-content.picknick {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; }

.motto.wrapper.small.team.contact > h3 {
  margin-top: 160px;
  font-size: 3.8em; }

.motto.wrapper.small.team.contact > h5 {
  margin-top: 2px; }

.motto.wrapper.small.team.contact .hello-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0px; }
  .motto.wrapper.small.team.contact .hello-wrapper .secretary {
    width: 35%;
    height: 300px;
    background: #e1e1e1;
    margin-right: 60px; }
  .motto.wrapper.small.team.contact .hello-wrapper .contact-data {
    width: 65%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .motto.wrapper.small.team.contact .hello-wrapper .contact-data > h5 {
      text-transform: uppercase;
      color: #acacac;
      margin-bottom: 10px;
      letter-spacing: .4px; }
    .motto.wrapper.small.team.contact .hello-wrapper .contact-data > h4 {
      margin-top: 0px;
      margin-bottom: 35px; }
    .motto.wrapper.small.team.contact .hello-wrapper .contact-data > div {
      color: #707070; }
      .motto.wrapper.small.team.contact .hello-wrapper .contact-data > div.phone {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 4px; }
      .motto.wrapper.small.team.contact .hello-wrapper .contact-data > div.email {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
      .motto.wrapper.small.team.contact .hello-wrapper .contact-data > div > p {
        margin: 0px; }
        .motto.wrapper.small.team.contact .hello-wrapper .contact-data > div > p:nth-child(1) {
          margin-right: 15px;
          font-weight: 600; }
    .motto.wrapper.small.team.contact .hello-wrapper .contact-data > .pop-up {
      margin-top: 60px;
      margin-left: 0px; }

.location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f5f7f8; }
  .location:nth-child(2) {
    border-bottom: 1px solid #e1e1e1; }
  .location .maps {
    width: 50%;
    height: 550px;
    background: #e1e1e1; }
  .location .information-wrapper {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .location .information-wrapper .grid-wrapper {
      position: relative;
      width: 530px;
      height: 100%;
      padding: 0px 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .location .information-wrapper .grid-wrapper > h3 {
        font-size: 1.8em;
        position: relative; }
        .location .information-wrapper .grid-wrapper > h3::after {
          content: ' ';
          height: 2px;
          width: 100%;
          background: #ff6200;
          position: absolute;
          bottom: -2px;
          left: 0px; }
      .location .information-wrapper .grid-wrapper .adress-wrapper {
        height: 100%; }
        .location .information-wrapper .grid-wrapper .adress-wrapper > ul {
          list-style: none;
          padding: 0px;
          margin: 20px 0px 60px;
          font-size: 1.1em; }
          .location .information-wrapper .grid-wrapper .adress-wrapper > ul .secondary-li {
            text-align: right; }
      .location .information-wrapper .grid-wrapper .more {
        position: absolute;
        bottom: -10px;
        left: 40px; }
        .location .information-wrapper .grid-wrapper .more.secondary-button {
          left: auto;
          right: 40px; }
  .location.secondary-school > .information-wrapper > .grid-wrapper {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

.get-in-touch.contact > h3 {
  position: relative; }
  .get-in-touch.contact > h3::after {
    position: absolute;
    left: 0px;
    bottom: -2px;
    content: ' ';
    height: 2px;
    width: 100%;
    background: black; }

.get-in-touch > .email {
  font-size: 1.7em;
  margin-top: 30px;
  color: #ff6200; }
